*.vsix

MSIInstall-Arti\Get-MSBuildPath.ps1
MSIInstall-Arti\Get-MSIFileInformation.ps1
MSIInstall-Arti\Init-BTDFTasks.ps1

MSIUninstall-Arti\Get-MSBuildPath.ps1
MSIUninstall-Arti\Get-MSIFileInformation.ps1
MSIUninstall-Arti\Init-BTDFTasks.ps1

TerminateSuspended-Arti\Get-MSBuildPath.ps1
TerminateSuspended-Arti\Get-MSIFileInformation.ps1
TerminateSuspended-Arti\Init-BTDFTasks.ps1

BTDFUndeploy-Arti\Get-MSBuildPath.ps1
BTDFUndeploy-Arti\Get-MSIFileInformation.ps1
BTDFUndeploy-Arti\Init-BTDFTasks.ps1

BTDFDeploy-Arti\Get-MSBuildPath.ps1
BTDFDeploy-Arti\Get-MSIFileInformation.ps1
BTDFDeploy-Arti\Init-BTDFTasks.ps1