*.vsix

**/

MSIInstall\Get-MSBuildPath.ps1
MSIInstall\Get-MSIFileInformation.ps1
MSIInstall\Init-BTDFTasks.ps1

MSIUninstall\Get-MSBuildPath.ps1
MSIUninstall\Get-MSIFileInformation.ps1
MSIUninstall\Init-BTDFTasks.ps1

TerminateSuspended\Get-MSBuildPath.ps1
TerminateSuspended\Get-MSIFileInformation.ps1
TerminateSuspended\Init-BTDFTasks.ps1

BTDFUndeploy\Get-MSBuildPath.ps1
BTDFUndeploy\Get-MSIFileInformation.ps1
BTDFUndeploy\Init-BTDFTasks.ps1

BTDFDeploy\Get-MSBuildPath.ps1
BTDFDeploy\Get-MSIFileInformation.ps1
BTDFDeploy\Init-BTDFTasks.ps1